@page
@model ProiectAprozar.Pages.Cosuri.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Fruct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Fruct.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Client.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Cantitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Cantitate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cos.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
