@page
@model ProiectAprozar.Pages.Cosuri.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Cos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Fruct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Fruct.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Client.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Cantitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Cantitate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cos.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
